<!DOCTYPE html>
<html lang="en">
<!-- head --> 
<%- include('../partials/head', {title: title}) %>
<!-- /head -->
<body>
    <!-- header --> 
    <%- include('../partials/header') %>
    <!-- /header -->
    <main class="container">
        <h1>Terapeutas</h1>
        <section class="row">
            <% terapeutas.forEach(terapeuta => { %>
                <article class="col-12 col-md-4">
                    <!-- <%= terapeuta.linkImagen%> -->
                    <img src="images/profilePicTerap/<%= terapeuta.linkImagen%>" alt="img-terap"> 
                    <div>
                        <h4><%= terapeuta.nombres + terapeuta.apellidos %></h4>
                        <h5><%= terapeuta.cedula%></h5>
                    </div>
                </article>
            <%})%>
        </section>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- /footer -->
</body>
</html>